target/
!.mvn/wrapper/maven-wrapper.jar
/index.idx
*.class
*.log
*.ctxt
*.jar
*.war
*.zip
*.tar.gz
*.rar

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db
